<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name=".DInfinityApplication"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:usesCleartextTraffic="false"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.DInfinity">

    <!--
      Exporting a collection hands another app a file. A FileProvider is how
      that is done without making anything world-readable: the other app gets
      a content URI for one file, granted for one use, and `collection_paths`
      says the provider can see nothing but the directory those copies are
      written into.
    -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.collections"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/collection_paths" />
    </provider>

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
      android:theme="@style/Theme.DInfinity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
